---
http_interactions:
- request:
    method: get
    uri: http://graphical.weather.gov/xml/sample_products/browser_interface/ndfdBrowserClientByDay.php?format=24%20hourly&lat=38.7076896900004&lon=-122.90249849699973&num_days=4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Nids-Serverid:
      - www5.mo
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dwml version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.nws.noaa.gov/forecasts/xml/DWMLgen/schema/DWML.xsd">
          <head>
            <product srsName="WGS 1984" concise-name="dwmlByDay" operational-mode="official">
              <title>NOAA's National Weather Service Forecast by 24 Hour Period</title>
              <field>meteorological</field>
              <category>forecast</category>
              <creation-date refresh-frequency="PT1H">2014-04-28T01:44:45Z</creation-date>
            </product>
            <source>
              <more-information>http://www.nws.noaa.gov/forecasts/xml/</more-information>
              <production-center>Meteorological Development Laboratory<sub-center>Product Generation Branch</sub-center></production-center>
              <disclaimer>http://www.nws.noaa.gov/disclaimer.html</disclaimer>
              <credit>http://www.weather.gov/</credit>
              <credit-logo>http://www.weather.gov/images/xml_logo.gif</credit-logo>
              <feedback>http://www.weather.gov/feedback.php</feedback>
            </source>
          </head>
          <data>
            <location>
              <location-key>point1</location-key>
              <point latitude="38.71" longitude="-122.90"/>
            </location>
            <moreWeatherInformation applicable-location="point1">http://forecast.weather.gov/MapClick.php?textField1=38.71&amp;textField2=-122.90</moreWeatherInformation>
            <time-layout time-coordinate="local" summarization="24hourly">
              <layout-key>k-p24h-n7-1</layout-key>
              <start-valid-time>2014-04-28T06:00:00-07:00</start-valid-time>
              <end-valid-time>2014-04-29T06:00:00-07:00</end-valid-time>
              <start-valid-time>2014-04-29T06:00:00-07:00</start-valid-time>
              <end-valid-time>2014-04-30T06:00:00-07:00</end-valid-time>
              <start-valid-time>2014-04-30T06:00:00-07:00</start-valid-time>
              <end-valid-time>2014-05-01T06:00:00-07:00</end-valid-time>
              <start-valid-time>2014-05-01T06:00:00-07:00</start-valid-time>
              <end-valid-time>2014-05-02T06:00:00-07:00</end-valid-time>
       [...]
